<!-- Copyright 2013 Christoph Siedentop <digikamweb@siedentop.name> -->
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://localhost:8081/album.css" content="text/html; charset=UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="http://localhost:8081/album.js"></script>
</head>

<body>
  <nav>
  </nav>
  <div id='nav-header'>
    <button id='album_reset'>Albums</button>
  </div>
  <div id='gallery'>
  </div>
  <div id='filter'>
  </div>
  <footer>
  DigikamWeb is a web interface for Digikam. This is alpha software. 
  Please report bugs here: <a href='https://github.com/unapiedra/DigikamWeb/issues' >GitHub Issues for DigikamWeb</a>
  </footer>
</body>
</html>
